/* Container Styles */
.container {
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}

h3 {
  font-size: 20px;
  color: #333;
  margin-top: 20px;
}

/* Button Styles */
.upload-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.upload-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* File Input Styles */
.file-input {
  padding: 10px;
  font-size: 16px;
  margin: 10px 0;
  display: inline-block;
}

/* JSON Output Styles */
.pretty-json {
  background-color: #f4f4f4;
  padding: 15px;
  border-radius: 4px;
  font-size: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
  margin-top: 20px;
}

pre {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  line-height: 1.5;
  color: #333;
}

/* Form Styles */
form {
  margin-top: 20px;
}

/* List Styling */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-size: 16px;
  padding: 5px 0;
}

button[type="submit"] {
  background-color: #2196F3;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"]:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* Message Display Styles */
p {
  font-size: 16px;
  color: #4CAF50;
  margin-top: 20px;
}

p.error {
  color: #f44336;
}

.container1 {
  width: 350px;
  margin: auto;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  background: #f8f9fa;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 18px;
  color: #333;
}

.checkbox-group {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-bottom: 25px;
}

label {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  font-size: 14px;
  cursor: pointer;
}

input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
}

.buttons {
  display: flex;
  justify-content: space-around;
}

button {
  background: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
}

button:hover {
  background: #0056b3;
}
